name: Building and deploying the website

on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Building pages
      run: | 
         scripts/deployWeb.sh
                
    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@3.4.6
      with:
        # This is the branch you wish to deploy to, for example gh-pages or docs.
        ACCESS_TOKEN: ${{ secrets.deploytoken }}
        BRANCH: gh-pages
        FOLDER: tmp
        SINGLE_COMMIT: true
        CLEAN: true